<% layout(layout_directory+'/mainLayout') -%>

<div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    <%= page_title %>
                </h3>
            </div>
        </div>
    <div class="kt-portlet__body">
        <form class="kt-form kt-form--label-right" id="editCmsFrm" action="<%= generateUrl('admin.cms.update') %>" method="POST">
            <div class="tab-content">
                <div class="form-group row">
                    <div class="col-lg-12">
                        <label>Title:</label>
                        <input type="text" name="title" id="title" required class="form-control required" placeholder="Enter Title"  value="<%=response.cms_data.title%>">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12">
                        <label>Content:</label>
                        <textarea class="form-control ckeditor" name="content" id="content" rows="3"><%=response.cms_data.content%></textarea>
                    </div>
                </div>
            </div>
            <!-- hidden user id -->
            <input type="hidden" name="id" value="<%=response.cms_data._id%>">
					
            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="<%= generateUrl('admin.cms.list') %>" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-primary">Update</button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>