<% layout(layout_directory+'/mainLayout') -%>

  <div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
      <h3 class="kt-subheader__title">
        <%= page_title %>
      </h3>
      <span class="kt-subheader__separator kt-subheader__separator--v"></span>
      <!-- <div class="kt-subheader__breadcrumbs">
        <a href="<%= generateUrl('user.dashboard') %>" class="kt-subheader__breadcrumbs-home">Dashboard</a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
      </div> -->
    </div>
  </div>

  <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
      <div class="col-lg-12">
        <div class="kt-portlet">
          <form class="kt-form kt-form--label-right" id="EditSetting" action="<%= generateUrl('setting.update') %>" method="POST">
            <div class="kt-portlet__body">
              <div class="form-group row">
                <div class="col-lg-12">
                  <label><%= response.setting_data.setting_name %></label>
                <% if (response.setting_data.setting_slug == 'site-email' || response.setting_data.setting_slug == 'contactus-email') { %>
                  <input type="text" name="setting_value" id="setting_value" class="form-control" data-validation-required-message="This field is required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" value="<%= response.setting_data.setting_value %>" title="Must enter valid email" >
                <% } else if(response.setting_data.setting_slug == 'phone' || response.setting_data.setting_slug == 'contactus-phone') {%>
                  <input type="text" name="setting_value" id="setting_value" class="form-control" data-validation-required-message="This field is required" pattern="^[0-9]{10}$" value="<%= response.setting_data.setting_value %>" title="Must contain 10 digits phone number" >
                <% } else if(response.setting_data.setting_slug == 'contactus-address') {%>
                  <input type="text" name="setting_value" id="setting_value" class="form-control" data-validation-required-message="This field is required" pattern="" value="<%= response.setting_data.setting_value %>" title="Please enter Address" >
                <% } else if(response.setting_data.setting_slug == 'facebook' || response.setting_data.setting_slug == 'pinterest' || response.setting_data.setting_slug == 'linkedin') {%>
                  <input type="text" name="setting_value" id="setting_value" class="form-control" data-validation-required-message="This field is required" pattern="" value="<%= response.setting_data.setting_value %>" title="Please enter url" >
                <% } else{%>
                <input type="text" name="setting_value" id="setting_value" class="form-control" data-validation-required-message="This field is required" value="<%= response.setting_data.setting_value %>" >
                <% } %>

                </div>
              </div>
              <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                  <div class="row">
                    <div class="col-lg-6">
                      <input type="hidden" name="mid" value="<%= response.setting_data._id%>">
                      <button type="submit" class="btn btn-primary">Update</button>
                      <a href="<%= generateUrl('setting.listing') %>" class="btn btn-secondary">Cancel</a>
                    </div>
                  </div>
                </div>
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>